.skill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    margin: 50px 3vw 0px 3vw;
}

.skill-container .skill-header {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 50px;
}

.skill-container .skill-box {
    width: 100%;
    overflow: hidden; /* Ensures smooth marquee scroll */
}

/* Marquee scrolling container */
.skillset {
    display: flex;
    gap: 20px 40px; /* Increased space between the icons */
    align-items: center;
    animation: marquee 15s linear infinite; /* Marquee animation */
    padding: 20px 0; /* Added top and bottom padding */
}

/* Marquee scrolling keyframes */
@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Individual icon styles */
.techLogo {
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    height: 120px;
    width: auto;
    padding: 30px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.skill-box .skillset abbr .techLogo:hover {
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 5px 20px 0px rgba(255, 255, 255, 0.4);
    transform: scale(1.15);
}

/* Responsive styles */
@media screen and (max-width: 1040px), (max-height: 550px) {
    .skill-container {
        margin: 50px 3vw 0px 3vw;
    }
}

@media screen and (max-width: 750px) {
    .skill-container {
        padding-top: 80px;
        margin: 0 50px 0px;
    }

    .techLogo {
        height: 80px;
        padding: 14px;
    }
}
